# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: CI
    displayName: "App Build Stage"
    jobs:
      - job: InstallDependencies
        steps:
          - script: npm ci
            displayName: "install node dependencies"
      - job: UnitTest
        steps:
          - script: npm run test
            displayName: "run unit test scripts found in package.json"
      - job: TestCoverage
        steps:
          - script: npm run test:coverage
            displayName: "get coverage report"
      - job: StaticCodeAnalysis
        steps:
          - script: echo later
      - job: InstallDockerInSlaveMachine
        steps:
          - task: DockerInstaller@0
            inputs:
              dockerVersion: '17.09.0-ce'       
      - job: buildDockerImage
        steps:
          - task: Docker@2
            inputs:
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
  


  