# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  AWS_REGION: us-east-1
  ECR_REPO: $(AWS_ACCOUNT_ID).dkr.ecr.$(AWS_REGION).amazonaws.com/devsu-demo-nodejs
  IMAGE_TAG: $(Build.BuildId)

pool:
  name: ec2-slave

stages:
  - stage: Test
    displayName: "Code testing"
    jobs:
      - job:
        steps:
          - script: npm ci
            displayName: "Install node dependencies"
          - script: npm run test
            displayName: "Run unit test scripts found in package.json"
          - script: npm run test:coverage
            displayName: "Get coverage report"

  - stage: Build
    displayName: Build & push
    dependsOn: Test
    jobs:
      - job: Docker
        steps:
          - script: aws ecr get-login-password --region $(AWS_REGION) | docker login --username AWS --password-stdin $(ECR_REPO)
            displayName: "ECR login"
          - script: docker build -t $(ECR_REPO):$(IMAGE_TAG) -t $(ECR_REPO):latest .
            displayName: "Build image"
          - script: docker push $(ECR_REPO):$(IMAGE_TAG) && docker push $(ECR_REPO):latest
            displayName: "Push image"
  - stage: 
    displayName: Deployment EKS
    dependsOn: Build
    jobs:
      - job:
        steps:
          - script: aws eks update-kubeconfig --region $(AWS_REGION) --name devsu-demo-aks
            displayName: "kubctl configuration"
          - script: sed -i 's|IMAGE_PLACEHOLDER|$(ECR_REPO):$(IMAGE_TAG)|g' k8s/deployment.yaml
            displayName: "Change image name in manifest"
          - script: kubectl apply -f k8s/
            displayName: "Apply manifest files"
          - script: kubectl rollout status deployment/devsu-demo -n devsu --timeout=120s
            displayName: Wait for rollout

  


  